@import-normalize; /* bring in normalize.css styles */

html,
body {
  overflow-x: hidden; /* Вимикає горизонтальну прокрутку для всього документа */
  width: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 159, 65);
  font-family: 'Roboto' sans-serif;
  font-style: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style: none;
  border: 2px solid rgb(30, 100, 65);
  border-radius: 10px;
  padding: 10px 10px;
  background-color: rgb(30, 100, 65);
  transition: background-color 1s ease;
  text-align: justify;
}

li:hover {
  background-color: rgb(255, 238, 0);
}

h2 {
  margin-bottom: 5px;
}

h1 {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: rgb(255, 238, 0);
  transition: color 0.5s ease;
  padding: 10px 10px;
}

a:hover {
  color: rgb(30, 100, 65);
}

.text-all {
  margin-top: 10px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 300px;
  margin-top: 0;
  text-align: justify;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 0;
  max-width: 400px;
}

.part1 {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  border: 1px solid rgb(30, 100, 65);
  border-radius: 15px;
  background-color: rgb(30, 100, 65);
  max-width: 400px;
  height: 30px;
  transition: transform 0.5s ease, background-color 0.5s ease;
  color: rgb(255, 238, 0);
}

button:hover {
  background-color: rgb(255, 238, 0);
  transform: scale(1.2);
  color: rgb(30, 100, 65);
}

button:active {
  transform: scale(1.2);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  max-width: 400px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.wrapper-text {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper-footer {
  max-width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  margin-bottom: 20px;
}

.wrapper-gost {
  max-width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper-btn {
  max-width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-sel {
  max-width: 400px;
}

.horenka-text {
  max-width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.city {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.btn-host {
  padding: 20px 20px;
  border: 1px solid rgb(30, 100, 65);
  border-radius: 10px;
}

.moschun-foot {
  margin-bottom: 50px;
}

.punkt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
}

.punkt-title {
  margin-bottom: 20px;
}

.punkt-image {
  width: 320px;
  /* height: 200px; */
  display: block;
  margin: 20px auto;
}

/* ======================================================================================================================= */

@media only screen and (min-max-width: 768px) and (max-max-width: 1024px) {
  li {
    list-style: none;
    border: 2px solid rgb(30, 100, 65);
    border-radius: 10px;
    padding: 10px 10px;
    background-color: rgb(30, 100, 65);
    transition: background-color 1s ease;
    text-align: justify;
  }

  li:hover {
    background-color: rgb(255, 238, 0);
  }

  h2 {
    margin-bottom: 5px;
  }

  h1 {
    margin-bottom: 5px;
  }

  a {
    text-decoration: none;
    color: rgb(255, 238, 0);
    transition: color 0.5s ease;
    padding: 10px 10px;
  }

  a:hover {
    color: rgb(30, 100, 65);
  }

  .text-all {
    margin-top: 10px;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 250px;
    margin-top: 0;
    text-align: justify;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 0;
    max-width: 300px;
  }

  .part1 {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  button {
    border: 1px solid rgb(30, 100, 65);
    border-radius: 15px;
    background-color: rgb(30, 100, 65);
    max-width: 300px;
    height: 30px;
    transition: transform 0.5s ease, background-color 0.5s ease;
    color: rgb(255, 238, 0);
  }

  button:hover {
    background-color: rgb(255, 238, 0);
    transform: scale(1.2);
    color: rgb(30, 100, 65);
  }

  button:active {
    transform: scale(1.2);
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    max-width: 400px;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .wrapper-text {
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .wrapper-footer {
    max-width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    margin-bottom: 20px;
  }

  .wrapper-gost {
    max-width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .wrapper-btn {
    max-width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .text-sel {
    max-width: 400px;
  }

  .horenka-text {
    max-width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .city {
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .btn-host {
    padding: 20px 20px;
    border: 1px solid rgb(30, 100, 65);
    border-radius: 10px;
  }
}

/* ======================================================================================================================= */

@media only screen and (min-max-width: 320px) and (max-max-width: 767px) {
  li {
    list-style: none;
    border: 2px solid rgb(30, 100, 65);
    border-radius: 10px;
    padding: 10px 10px;
    background-color: rgb(30, 100, 65);
    transition: background-color 1s ease;
    text-align: justify;
  }

  li:hover {
    background-color: rgb(255, 238, 0);
  }

  h2 {
    margin-bottom: 5px;
  }

  h1 {
    margin-bottom: 5px;
  }

  a {
    text-decoration: none;
    color: rgb(255, 238, 0);
    transition: color 0.5s ease;
    padding: 10px 10px;
  }

  a:hover {
    color: rgb(30, 100, 65);
  }

  .text-all {
    margin-top: 10px;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 200px;
    margin-top: 0;
    text-align: justify;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 0;
    max-width: 300px;
  }

  .part1 {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  button {
    border: 1px solid rgb(30, 100, 65);
    border-radius: 15px;
    background-color: rgb(30, 100, 65);
    max-width: 300px;
    height: 20px;
    transition: transform 0.5s ease, background-color 0.5s ease;
    color: rgb(255, 238, 0);
  }

  button:hover {
    background-color: rgb(255, 238, 0);
    transform: scale(1.2);
    color: rgb(30, 100, 65);
  }

  button:active {
    transform: scale(1.2);
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 300px;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .wrapper-text {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .wrapper-footer {
    max-width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    margin-bottom: 20px;
  }

  .wrapper-gost {
    max-width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .wrapper-btn {
    max-width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .text-sel {
    max-width: 300px;
  }

  .horenka-text {
    max-width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .city {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .btn-host {
    padding: 20px 20px;
    border: 1px solid rgb(30, 100, 65);
    border-radius: 10px;
  }
}
